SELECT
  {% for col in group_by_columns %}
  "{{ col }}"{% if not loop.last %}, {% endif %}
  {% endfor %},
  ROUND(SUM("NETWEIGHT_TMT")::numeric, 2) AS actual_tmt
FROM {{ db_schema }}."MOM_DAY_LEVEL_DATA"
WHERE
  {{ mandatory_constraints }}
  AND "fiscal_year" = '{{ fiscal_year }}'
  {% for col, value in filters.items() %}
  AND "{{ col }}" = '{{ value }}'
  {% endfor %}
GROUP BY
  {% for col in group_by_columns %}
  "{{ col }}"{% if not loop.last %}, {% endif %}
  {% endfor %}
{{ "\n" }}ORDER BY
  {% for col in group_by_columns %}
  "{{ col }}"{% if not loop.last %}, {% endif %}
  {% endfor %};
